<!DOCTYPE>
<html>
<body>
	<p>Welcome to Wathit!</p>
	<p>Files(directories) under [<%=path%>]:</p>
	<ul>
		<% file_list.each do |file| %>
			<li><a href=./<%=file%>><%=file%></a></li>
		<% end %>
	</ul>
</body>
</html>
